@font-face {
    font-family: 'circular_std';
    src: url('../fonts/circular_std.ttf') format('truetype');
}
@media only screen and (min-width:700) and (max-width:1300){
body{
    background-image: url("../imgs/nodesk_background.png");
    background-position: center;
    background-size:contain;
}
}
@media only screen and (min-width: 250px) and (max-width: 600px){

body{
    margin:0;
    padding:0;
    width:100%;
    background-image: url("../imgs/Illustration.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position:bottom;
}
.circular{
    font-family: 'circular_std';
}
.getStarted{
    position:absolute;
    top:140px;
    right:4px;
    width:331px;
    height:204px;
}
h1{
    font-size:30px;
    font-weight:450;
    color:#1E1C61;
    line-height: 38px;
}
h2{
    font-size:20px;
    font-weight:450;
    color:#1E1C61;
    line-height:38px;
}
}