@keyframes menuChanging{
    to{
        background-image:url("../imgs/menubar1.png");
        height:20px;
    }
}
@font-face {
    font-family: 'circular_std';
    src: url('../fonts/circular_std.ttf') format('truetype');
}
@media only screen and (min-width:320px) and (max-width:460px){

body{
    margin:0;
    padding:0;
    width:100%;
    background-color:#f9f9f9;
    opacity:0;
    transition: opacity 1s;
}
.background{
    width:100%;
    height:60%;
    position:absolute;
    bottom:0;
    background-image:url("../imgs/Illustration.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.circular{
    font-family: 'circular_std';
}
.blue{
    color:#1E1C61;
}
.violet{
    color:#292685;
}
.bluelight{
    color:rgba(30, 28, 97, 0.65);

}
.greylight{
    color:#C0C0C0;
}
h1{
    width:268px;
    font-size:30px;
    font-weight:450;
    line-height: 38px;
}
.plant{
    position:absolute !important;
    bottom:-5px!important;
}
.milady{
    position: absolute !important;
    bottom:-5px!important;
    margin-left:25% !important;
}
.card{
    position:absolute!important;
    bottom:50% !important;
    margin-left:65% !important;    
}
.mg-lft-25px{
    margin-left:25px;
}
.mg-rgt-25px{
    margin-right:25px;
}
.mg-lft-40px{
    margin-left:40px;
}
.mg-rgt-40px{
    margin-right:40px;
}
.mg-top-5{
    margin-top:6%;
}
.mg-top-15{
    margin-top:15%;
}
.home_container{
    margin-top:25%;
    margin-right:67px;
}
    .title{
        width:268px;
        height:81px; 
    }
    .subtitle{
        width:331px;
        height:60px;
    }
.container{
    display:flex;
    width:85%;
    height:40px;
    justify-content: space-between;
}
    .menu{
        width:27px;
        height:27px;
        background-image:url("../imgs/menubar.png");    
        background-repeat: no-repeat;
    }
    .login{
        width:41px;
        height:41px;
        background-color:#534378;
        background-image:url("../imgs/login.png");
        border-radius:50%;
    }
    .menuClick{
    animation: menuChanging 1s forwards;
    }
h2{
    font-size:16px;
    font-weight:450;
    line-height:24px;
}
.orange_bkg{
    background-color:#ef716b;
}
.button{
    color:white;
    border:none;
    width:145px;
    height:40px;
    border-radius:20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-color:#ef716b;
    transition-property: background-color 1s ease-in;
    z-index:5;
}
.button:hover{
    background-color: #467af9;
}
.fadeOut{
    opacity:0;
}
.fadeIn{
    opacity:1;
}
.searchBar{
    width:87%;
    height:53px;
}
.search{
    width:85%;
    height:45px;
    background-color: #f2f2f2;
    border:none;
    border-radius:20px 0 0 20px;
    padding:24px;
}
.searchBtn{
    width:65px;
    height:53px;
    border-radius:30px;
    background-image:url("../imgs/magnifier.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size:34px 34px;
}
.scroll_menu{
    width:100%;
    overflow-x: auto;
}
.cat_card{
    width:120px;
    height:151px;
    margin-right:27px;
}
.cat_card_content{
    display:flex;
    position:relative;
    top:-70px;
    width:113px;
    height:137px;
    background-color:#ffffff;
    border-radius:15px;
    z-index:-1;
}
.cat_desc{
    position:relative;
    margin:auto;
    width:60px;
    height:40px;
    top:35px;
}
.teeth{
    position:relative;
    left:40px;
    width:84px;
    height:84px;
    border-radius:15px;
    background-color:#4b7ffb;
    background-image:url("../imgs/teeth.png");
    background-position:center;
    background-repeat:no-repeat;
    z-index:99;
}
.heart{
    position:relative;
    left:40px;
    width:84px;
    height:84px;
    border-radius:15px;
    background-color:#ffb167;
    background-image:url("../imgs/heart.png");
    background-position:center;
    background-repeat:no-repeat;
    z-index:99;
}
.eye{
    position:relative;
    left:40px;
    width:84px;
    height:84px;
    border-radius:15px;
    background-color:#f57e71;
    background-image:url("../imgs/eye.png");
    background-position:center;
    background-repeat:no-repeat;
    z-index:99;
}
}
/**
    STYLESHEET DESKTOP
**/
.desktop{
    text-align:center;
    display:flex;
    justify-content:center;
    align-items:center;
    width:350px;
    height:250px;
    box-shadow:10px 20px 15px #467af9;
    border-radius:10px;
  }
.background{
    width:100%;
    height:60%;
    position:absolute;
    bottom:0;
    background-image:url("../imgs/Illustration.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.plant{
    position:absolute;
    bottom:-5px important;
}
.milady{
    position:absolute;
    bottom:-5px;
    margin-left:5%;
}
.card{
    position:absolute;
    bottom:51%;
    margin-left:17%;    
}
.circular{
    font-family: 'circular_std';
}