
.row{
    display:flex;
    flex-direction: row;
}
.column{
    display:flex;
    flex-direction:column;
}
.justify_center{
    justify-content: center;
}
.align_center{
    align-items: center;
}
.justify_left{
    justify-content: left;
}
.align_left{
    align-items: left;
}
.justify_right{
    justify-content: right;
}
.align_right{
    align-items: right;
}
.justify_between{
    justify-content:space-between;
}
.--16px{
    font-size:16px;
}