
.row{
    display:flex;
    flex-direction: row;
}
.column{
    display:flex;
    flex-direction:column;
}
.justify_center{
    justify-content: center;
}
.align_center{
    align-items: center;
}

.justify_left{
    justify-content: left;
}
.align_left{
    align-items: left;
}
.justify_right{
    justify-content: right;
}
.align_right{
    align-items: right;
}
.justify_between{
    justify-content:space-between;
}
.justify_even{
    justify-content: space-evenly;
}
.--24px{
    font-size:24px;
}
.--16px{
    font-size:16px;
}
.--14px{
    font-size:14px;
}
.--sm{
    font-size: small;
    color: rgba(30,28,97,0.65);
}
.circular{
    font-family: 'circular_std';
}
.blue{
    color:#1E1C61;
}
.violet{
    color:#292685;
}
.bluelight{
    color:rgba(30, 28, 97, 0.65);

}
.greylight{
    color:rgba(192,192,192,1);
}
.orange_bkg{
    background-color:#ef716b;
}

.mg-lft-25px{
    margin-left:25px;
}
.mg-rgt-25px{
    margin-right:25px;
}
.mg-lft-15px{
    margin-left:15px;
}
.mg-lft-40px{
    margin-left:40px;
}
.mg-rgt-40px{
    margin-right:40px;
}
.mg-top-10px{
    margin-top:10px;
}
.mg-top-20px{
    margin-top:20px;
}
.mg-top-5{
    margin-top:6%;
}
.mg-top-15{
    margin-top:15%;
}
